@import url('https://use.typekit.net/iku7gkb.css');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&display=swap');

li {
  margin-left: 16px;
}

li:before {
  display: inline-block;
  content: '-';
  width: 1em;
  margin-left: -1em;
}

body {
  -webkit-text-size-adjust: none;
}

@keyframes smooth-appear {
  from {
    transform: translateX(-100vw);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes smooth-appear-left {
  from {
    transform: translateX(100vw);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes smooth-disappear {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0.5;
  }
}

@keyframes smooth-disappear-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0.5;
  }
}

.animated-menu {
  animation: smooth-appear 0.2s ease forwards;
}

.main-menu-disappear-to-sub {
  animation: smooth-disappear 0.05s ease forwards;
}

.sub-menu-appear-to-main {
  animation: smooth-appear-left 0.2s ease-out forwards;
}

.main-menu-appear-to-sub {
  animation: smooth-appear 0.2s ease-out forwards;
}

.sub-menu-disappear-to-main {
  animation: smooth-disappear-right 0.05s ease forwards;
}

.main-menu-close {
  animation: smooth-disappear 0.2s ease forwards;
}

@keyframes smooth-scale {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.scale-img {
  animation: smooth-scale 10s ease forwards;
}

html,
body {
  overflow-x: hidden;
}

.scrolling_text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.text {
  animation: animate_text 40s linear infinite;
}

.imageslide {
  animation: animate_text 60s linear infinite;
}

.text span {
  margin: 0 20px;
}
@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* .toast {
  animation: smooth-appear-toast 300ms linear;
}

.toast-disappear {
  animation: smooth-disappear-toast 300ms linear;
}

@keyframes smooth-appear-toast {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes smooth-disappear-toast {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(90px);
  }
} */

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.5);

  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input:checked[type='checkbox'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
input:checked[type='radio'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
input[type='checkbox']:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.css-shopify-margin-top-page {
  margin-top: 24px;
}

.css-shopify-space-4 {
  height: 12px;
}

/* Input Radio box as a button code */

.form-element {
}

.form-element input {
  display: none;
}

.form-element label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  transition: all 0.2s;
  border: 1px solid transparent;
}

.form-element .disabled {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: gray;
}

.form-element input:checked + label {
  border: 1px solid #0081ab;
}
.form-element input:checked + label:before {
  opacity: 1;
  transform: scale(1);
}

.sample-product-options .product-options-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (min-width: 768px) {
  .sample-product-options .product-options-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

.toast {
  animation: smooth-appear-toast 300ms linear;
}

.toast-X {
  animation: smooth-appear-toast-X 100ms linear;
}

.toast-close-X {
  animation: smooth-disappear-toast-X 100ms linear;
}

.toast-close {
  animation: smooth-disappear-toast 150ms linear;
}

.appear-animation-cart {
  animation: smooth-appear-tooltip-cart 100ms linear;
}

@keyframes smooth-appear-tooltip-cart {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes smooth-appear-toast {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes smooth-appear-toast-X {
  from {
    transform: translateX(160px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes smooth-disappear-toast-X {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-160px);
    opacity: 0;
  }
}

@keyframes smooth-disappear-toast {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(120px);
    opacity: 0;
  }
}

.embla {
  margin: auto;
  height: 100%;
  --slide-height: 100%;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  height: 100%;
  overflow: hidden;
}
.embla__container {
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  height: 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
}
